/* Colours */
/* Fonts */
body {
  margin: 0 auto !important;
  max-width: 75.998em;
  background: #ffffff url('images/layout/page-background.jpg') top center no-repeat fixed;
  padding: 0;
  background-size: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  color: #212d58;
  font-weight: normal;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
p {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}
/* List margin overrides */
#content ul,
#content ol {
  margin-left: 1.4em;
}
#sidebar ul,
#sidebar ol {
  margin-left: 0;
}
#wrapper {
  background: none;
}
/*-------------------------------------------------------*
Masthead
*-------------------------------------------------------*/
#top {
  background: none;
}
#top .top-nav-block {
  float: right;
  width: 40%;
  background: #212d58;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#top .top-nav-block ul#top-nav {
  width: 90%;
  left: 5%;
}
#top .top-nav-block ul#top-nav li {
  width: 25%;
}
#top .top-nav-block ul#top-nav li a {
  margin: 0;
  padding: 13px 0 13px 0;
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}
#top .top-nav-block ul#top-nav li a:hover {
  color: #212d58;
}
#header {
  margin: 0;
  padding: 0;
  border: 0;
}
/* Logo */
#header .site-title {
  width: 40%;
  margin: -20px 0 20px 2%;
  padding: 0;
  float: left;
}
#header .site-title img {
  width: 90%;
  max-width: 90%;
  margin: 20px 5% 0 5%;
  padding: 0;
}
/* Social buttons */
#header #social-and-cart {
  width: 27%;
  float: right;
  /* Cart */
}
#header #social-and-cart ul.social-buttons {
  list-style-type: none;
  display: block;
  margin: 50px 2% 0 0;
  width: 169.5px;
  float: right;
}
#header #social-and-cart ul.social-buttons li a {
  float: left;
  text-indent: -9999px;
  display: block;
  margin-right: 5px;
  width: 35.5px;
  height: 35.5px;
}
#header #social-and-cart ul.social-buttons li.twitter a {
  background: url('images/icons/twitter-icon.png') top left no-repeat;
  background-size: 100% 100%;
}
#header #social-and-cart ul.social-buttons li.facebook a {
  background: url('images/icons/facebook-icon.png') top left no-repeat;
  background-size: 100% 100%;
}
#header #social-and-cart ul.social-buttons li.pinterest a {
  background: url('images/icons/pinterest-icon.png') top left no-repeat;
  background-size: 100% 100%;
}
#header #social-and-cart ul.social-buttons li.google-plus a {
  background: url('images/icons/google-plus-icon.png') top left no-repeat;
  margin-right: 0;
  background-size: 100% 100%;
}
#header #social-and-cart .wc-cart {
  width: 90%;
  margin: 20% 5.5% 0 0;
  border: 1px solid #212d58;
  border-bottom: 0;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  float: right;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header #social-and-cart .wc-cart li {
  padding-top: 4px;
}
#header #social-and-cart .wc-cart li a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #212d58;
  padding-right: 5px;
}
#header #social-and-cart .wc-cart li a:hover {
  color: #e60600;
}
#header #social-and-cart .wc-cart li.cart-icon {
  width: 8%;
  margin-left: 4%;
  margin-top: 2%;
}
#header #social-and-cart .wc-cart li span.amount {
  margin-right: 10px;
  margin-top: -4px;
}
#header #social-and-cart .wc-cart li.cart a {
  padding-top: 7px;
}
#header #social-and-cart .wc-cart:hover {
  background-color: #ffffff;
}
/* Main Navigation */
#header .nav-toggle {
  position: relative;
  clear: both;
  width: 100%;
  margin: 0 0 40px 0;
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#header #navigation {
  clear: both;
  width: 100%;
  margin: 0 0 40px 0;
  padding: 0;
  background: #212d58;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 10;
  height: 60px;
}
#header #navigation ul {
  width: 100%;
  margin: 0;
  padding: 0;
  float: none;
}
#header #navigation ul li {
  width: 16%;
  background: none;
  height: 60px;
  padding: 0 2% 0 2%;
}
#header #navigation ul li:hover {
  background: #eff5fa;
}
#header #navigation ul li:hover a {
  color: #212d58 !important;
  background-color: #eff5fa !important;
}
#header #navigation ul.nav > li a {
  width: 100%;
  background: none;
  margin: 0;
  padding: 16px 0 0 0;
  border: 0;
  text-align: center;
  color: #fff;
  height: 47px;
  font-family: "Satisfy", serif;
  font-size: 18px;
}
#header #navigation ul.nav > li a:hover {
  background: none;
  color: #eff5fa;
}
#header #navigation ul.nav > li.current-menu-item > a,
#header #navigation ul.nav > li.current_page_item > a {
  color: #ffe400;
  font-weight: bold;
}
/* Sub Menus */
#header #navigation ul.nav ul {
  background: #fff;
  border: none;
  width: 150%;
  -webkit-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.3);
  box-shadow: 0px 4px 5px rgba(50, 50, 50, 0.3);
  -webkit-border-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 4px;
  -moz-border-radius-topleft: 0;
  border-radius: 4px;
  border-top-left-radius: 0;
}
#header #navigation ul.nav ul li {
  width: 100%;
}
#header #navigation ul.nav ul li a {
  text-align: left;
  padding: 2% 0 0 5%;
}
#header #navigation ul.nav ul li a:hover {
  background: #f7f7f7;
}
#header #navigation ul.nav > li.parent a:after {
  font-family: 'WebSymbolsRegular';
  display: inline-block;
  font-size: .857em;
  margin-left: .618em;
  content: ";";
  color: #fff;
  font-weight: normal;
}
#header #navigation ul.nav > li.parent:hover a:after {
  color: #212d58;
}
/*-------------------------------------------------------*
Content
*-------------------------------------------------------*/
#content {
  background: #fff;
  padding: 2%;
  width: 96%;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.2);
}
/*-------------------------------------------------------*
Sidebar (inc. Layered Nav)
*-------------------------------------------------------*/
.primary {
  background: #fafafa;
  width: 88%;
  padding: 6%;
}
.widget_layered_nav h3 {
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid #e6e6e6;
}
/*-------------------------------------------------------*
Gravity forms
*-------------------------------------------------------*/
.gform_footer {
  padding: 0 !important;
}
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  width: 1.618em !important;
}
/*-------------------------------------------------------*
Incidentals
*-------------------------------------------------------*/
body.home #breadcrumbs {
  display: none;
}
h1#home-page-header {
  font-family: "Satisfy", serif;
  color: #e60600;
  text-transform: none;
  text-align: center;
  font-size: 3.5em;
  margin: .5em 0 1em 0;
}
h2#page-bottom-header {
  font-family: "Satisfy", serif;
  color: #e60600;
  text-transform: none;
  text-align: center;
  font-size: 3.4em;
  margin: .5em 0 1em 0;
}
.indented {
  margin-left: 3em;
}
.centre {
  text-align: center;
}
/* Generic feature blocks */
.full-width-feature {
  margin-right: -2%;
  margin-left: -2%;
  padding: 0;
  clear: both;
}
.full-width-feature:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.full-width-feature h1 {
  color: #fff;
}
.full-width-feature h2 {
  font-size: 1.4em;
  color: #fff;
  line-height: 1.7;
}
.full-width-feature .blurb {
  width: 24%;
  text-align: center;
}
.full-width-feature .blurb p {
  color: #fff;
}
.full-width-feature .blurb ul {
  text-align: left;
  margin-left: 2.2em;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 1.15em;
}
.full-width-feature img {
  width: 74%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
}
.full-width-feature .pull-left {
  float: left;
}
.full-width-feature .pull-right {
  float: right;
}
.dark {
  background: #212d58;
}
.light {
  background: #eff5fa;
}
.light h1 {
  color: #212d58;
}
.light h2 {
  font-size: 1.4em;
  color: #212d58;
  line-height: 1.7;
}
.light .blurb {
  width: 24%;
  text-align: center;
}
.light .blurb p {
  color: #212d58;
}
.light .blurb ul {
  text-align: left;
  margin-left: 2.2em;
  color: #212d58;
  font-family: "Raleway", sans-serif;
  font-size: 1.15em;
}
/* Specific feature block overrides */
#picture-perfect {
  padding-top: 0;
}
#picture-perfect .blurb {
  padding: 7% 0 0 5%;
  width: 35%;
}
#picture-perfect img {
  margin: 0 0 0 -5%;
}
#easy-peasy-editing {
  padding: 0 5% 0 0;
}
#easy-peasy-editing img {
  width: 64%;
}
#easy-peasy-editing .blurb {
  width: 32%;
  margin: 10% 3% 0 -5%;
}
#closing-statement {
  padding-top: 5%;
}
#make-a-statement {
  width: 50%;
  float: left;
}
#make-a-statement img {
  width: 90%;
  margin: 5% 5% 5% 5%;
}
#make-a-statement .blurb {
  width: 80%;
  margin: 0 10% 10% 10%;
}
#tailor-made-emphasis {
  width: 50%;
  clear: none;
  float: right;
}
#tailor-made-emphasis img {
  width: 57%;
  margin: 5% 21.5% 5% 21.5%;
}
#tailor-made-emphasis .blurb {
  width: 80%;
  margin: 0 10% 10% 10%;
}
#home-page-buttons {
  width: 100%;
}
#home-page-buttons:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
#home-page-buttons ul {
  margin: 0 auto;
  width: 800px;
  display: block;
}
#home-page-buttons ul li {
  list-style: none;
  display: block;
}
#home-page-buttons ul li a {
  display: block;
  float: left;
  border: 2px solid #212d58;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 150px;
  padding: 10px;
  margin-right: 15px;
  text-align: center;
  color: #212d58;
}
#home-page-buttons ul li a:hover {
  color: #e60600;
}
#home-page-buttons ul li:last-child a {
  margin-right: 0;
}
/*-------------------------------------------------------*
Footer
*-------------------------------------------------------*/
.footer-wrap {
  margin: 0;
  background: #212d58;
  box-shadow: 0px 20px 20px 0px rgba(50, 50, 50, 0.2);
  -webkit-box-shadow: 0px 20px 20px 0px rgba(50, 50, 50, 0.2);
}
.footer-wrap h3 {
  text-transform: uppercase;
  border: none;
  padding: 0;
  color: #fff;
}
.footer-wrap p {
  font-size: 90%;
  color: #fff;
}
.footer-wrap a {
  font-weight: normal;
  text-decoration: underline;
  color: #ffe400;
}
.footer-wrap li {
  color: #fff;
  font-size: 90%;
}
.footer-wrap li a:hover {
  text-decoration: none;
}
.footer-wrap ul.menu li:before {
  content: none;
}
.footer-wrap img.footer-logo {
  margin-bottom: 30px;
}
.footer-wrap img.footer-card-icons {
  margin-top: 40px;
}
#footer-widgets {
  padding: 3.631em 0 0 0;
}
#footer {
  display: none;
}
